@font-face {
	font-family: 'logo';
	src: url('acidic.ttf');
}

@font-face {
	font-family: 'earthquake';
	src: url('erthquake.ttf');
}

@font-face {
	font-family: 'silly';
	src: url('BaksoSapi.otf');
}

*,
*:before,
*:after {
	box-sizing: inherit;
	transition: color .2s;
	outline: none;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	height: 100%;
}

body {
	--color-background: black;
	--color-foreground: white;

	margin: 0;
	background-repeat: repeat;
	background-blend-mode: screen;
	transition: opacity 1s ease-in-out;
	font-family: sans-serif;
	overflow-x: hidden;
	height: 100%;
	background: var(--color-background);
	color: var(--color-foreground);
	font-family: 'silly';

	/* cursor: url(/assets/sprites/ui/cursor.png), pointer; */
}

.logo {
	font-family: 'earthquake';
	color: var(--color-foreground);
}

.title-header {
	text-align: center;
	font-size: 60px;
}

#main {
	width: 100%;
}

.loader .splash {
	color: wheat;
}

.project-card-container {
	display: flex;
	flex-wrap: wrap;

}

.project-card {
	padding: 5px;
	margin: 2px;
	width: 300px;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.project-card .title {
	font-size: 25px;
}

.project-card .description {
	text-wrap: balance;
}

.project-card .link-container {
	display: flex;
	justify-content: end;
}

.links {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.link {
	cursor: pointer;
}

a[href] {
	color: white;
}