.frame {
	border-image: url(../images/cvs.png) 32 fill / 32px round;
	border-width: 32px;
	padding: 32px;
	image-rendering: pixelated;
}

hr {
	border-image: url(../images/horizontal-row.png) 16 fill / 16px round;
	border-width: 16px;
	image-rendering: pixelated;
	margin: 5px;
	margin-bottom: -14px;
}

.panel {
	border-image: url(../images/frame.png) 32 fill / 32px round;
	border-width: 8px;
	padding: 30px !important;
	image-rendering: pixelated;
}