.pillars {
	border-image: url(../images/pillars.png) 32 fill / 32px repeat;
	border-width: 32px;
	padding: 32px;
	image-rendering: pixelated;
}

hr {
	border-image: url(../images/horizontal-row.png) 8 fill / 16px repeat;
	border-width: 16px;
	image-rendering: pixelated;
	margin: 5px;
	margin-bottom: -14px;
}

.panel {
	border-image: url(../images/side-content.png) 16 fill / 16px repeat;
	border-width: 8px;
	padding: 16px;
	image-rendering: pixelated;
}